*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
}
.bkn{
    background: rgb(12,0,92);
    background: radial-gradient(circle, rgba(12,0,92,1) 0%, rgba(70,70,70,1) 0%, rgba(0,0,0,1) 43%);
}
.navbar-brand{
    opacity: 0.6;
}
.text-light{
    font-family: 'Raleway', sans-serif;
}
.musk{
    width: 130px;
    height: auto;
    transition: 0.9s;
}
.musk:hover{
    opacity: 0.5;
}
.quote{
    font-size: 1.3em;
    margin-bottom: 15%;
}
.indication{
    font-size: 0.6em;
}
.fade-in {
	-webkit-animation: fade-in 3s ease-in-out both;
	animation: fade-in 3s ease-in-out both;
}
@-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
@media (max-width: 840px){
	.card-container{
        display: none;
    }
	.card-container-mobile{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}